## Read csv file

In [35]:
import pandas as pd
df = pd.read_csv('../data/taxi_trip_pricing.csv')
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

## EDA

In [36]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [37]:
df.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [16]:
df[df.isna().any(axis=1)]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
...,...,...,...,...,...,...,...,...,...,...,...
991,35.04,Morning,Weekend,4.0,Medium,Rain,2.90,1.10,0.15,9.99,NaN
993,NaN,Morning,Weekday,3.0,Medium,Clear,2.65,1.35,NaN,25.61,55.3348
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

## Drop the `Passenger_Count` column because it does not significantly affect the target

In [43]:
df = df.drop('Passenger_Count', axis=1)
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,8.64,Evening,Weekday,High,Clear,2.93,0.63,0.32,22.64,15.6180

## Drop rows where `Trip_Distance_km` and other key values are missing
These rows cannot be used for machine learning because `Trip_Distance_km` or other essential features are missing, so the trip price cannot be calculated accurately.

In [38]:
df[df['Trip_Distance_km'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
10,NaN,Morning,Weekday,4.0,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
84,NaN,Night,Weekday,1.0,Medium,Clear,3.38,1.50,0.31,58.31,45.8161
87,NaN,NaN,Weekday,1.0,Medium,Clear,3.41,0.57,0.39,92.72,57.9476
95,NaN,Morning,Weekend,1.0,Medium,Clear,3.43,0.91,0.50,67.43,60.0770
111,NaN,Morning,Weekday,2.0,Low,Clear,4.01,1.65,0.17,109.77,37.3559
134,NaN,Afternoon,Weekend,3.0,Low,Clear,2.55,1.46,0.37,38.26,85.6182
137,NaN,NaN,NaN,3.0,Low,Clear,4.52,1.38,0.35,57.56,73.5870
142,NaN,Afternoon,Weekend,4.0,Medium,Rain,2.98,1.24,0.28,36.68,44.7092
166,NaN,Evening,Weekday,2.0,High,Clear,4.11,1.00,0.36,86.31,51.9016
191,NaN,Afternoon,Weekend,2.0,Medium,Clear,2.47,0.83,0.45,80.70,76.1018
196,NaN,Night,Weekday,2.0,High,Clear,3.34,1.49,0.27,115.73,89.0764
197,NaN,Night,Weekend,3.0,Medium,Clear,3.22,1.03,0.38,72.79,77.1890
234,NaN,Afternoon,Weekday,3.0,Low,Clear,4.03,0.74,0.14,49.37,18.7636
269,NaN,Morning,Weekday,3.0,Low,NaN,4.74,0.99,0.39,24.57,29.5584
282,NaN,Afternoon,Weekday,1.0,Low,Clear,3.79,1.25,0.45,40.52,46.2740
327,NaN,Evening,Weekday,3.0,Medium,Clear,2.21,0.82,0.23,42.84,37.4586
344,NaN,Evening,NaN,NaN,Low,Clear,4.62,1.86,0.43,7.19,45.8975
357,NaN,Afternoon,Weekday,3.0,Medium,Rain,2.03,0.91,0.19,12.42,31.4168
366,NaN,Evening,Weekday,4.0,Medium,Clear,4.20,1.09,0.18,NaN,66.1816
401,NaN,Morning,NaN,1.0,Low,Clear,3.63,0.80,0.19,109.95,60.7045
404,NaN,Afternoon,Weekday,2.0,High,Rain,2.30,0.89,0.12,74.77,26.1176
417,NaN,Morning,Weekday,3.0,Low,Clear,4.00,1.87,0.15,100.36,51.0310
424,NaN,Night,Weekday,1.0,High,Clear,NaN,1.42,0.48,23.11,19.2572
428,NaN,Afternoon,Weekday,NaN,Medium,Rain,3.84,1.55,0.41,19.20,39.9065
438,NaN,Morning,Weekday,2.0,Low,Rain,2.72,1.25,0.24,49.77,59.1773
439,NaN,Afternoon,Weekday,4.0,Medium,NaN,2.84,0.97,0.29,41.04,19.5819
446,NaN,Afternoon,Weekday,1.0,Medium,Clear,3.02,0.70,0.35,94.88,70.7450
470,NaN,Afternoon,Weekday,3.0,High,Clear,4.37,0.80,0.49,18.39,14.6611
476,NaN,Evening,Weekday,NaN,Low,Clear,2.15,1.62,0.47,42.81,29.7551
584,NaN,Night,Weekday,4.0,Low,Clear,2.73,1.47,0.37,42.88,65.6944
641,NaN,Evening,Weekday,4.0,Low,Clear,3.08,0.70,0.38,27.81,25.3938
647,NaN,Evening,Weekday,2.0,Medium,Rain,3.46,0.83,0.47,51.82,56.2678
725,NaN,Morning,Weekday,1.0,Medium,Clear,3.88,1.96,0.32,111.65,122.4180
734,NaN,Morning,Weekend,1.0,Low,Clear,3.14,NaN,0.14,89.47,34.4316
770,NaN,Afternoon,Weekday,1.0,Medium,Clear,3.05,0.98,0.24,NaN,19.0904
774,NaN,Evening,Weekday,1.0,Medium,Clear,3.77,1.15,0.31,87.74,77.0499
796,NaN,Evening,Weekday,NaN,NaN,Clear,3.05,0.74,0.35,105.71,74.5843
813,NaN,Morning,Weekday,3.0,High,Snow,2.81,1.04,0.34,NaN,66.8568
822,NaN,Afternoon,Weekday,1.0,Medium,Clear,3.64,1.22,0.18,75.87,38.4514
830,NaN,Night,Weekday,3.0,Low,Clear,2.11,0.82,0.40,85.00,45.9582
839,NaN,Morning,Weekday,3.0,Low,Clear,2.86,1.30,0.41,58.01,68.2181
845,NaN,Morning,Weekday,4.0,Low,Clear,2.22,0.90,0.40,119.82,69.3360
846,NaN,Morning,Weekend,4.0,Medium,Clear,2.82,1.18,0.42,91.53,47.3750
872,NaN,Afternoon,NaN,4.0,Low,Clear,4.81,0.65,0.26,10.76,28.7716
939,NaN,Morning,Weekday,2.0,Low,Rain,3.59,0.69,0.27,87.25,47.3300
943,NaN,Evening,Weekend,1.0,Low,Snow,2.10,1.47,0.27,48.69,76.4865
961,NaN,Afternoon,Weekday,2.0,Medium,Clear,4.06,1.05,0.46,7.26,39.4771
970,NaN,Morning,Weekday,4.0,High,Clear,3.97,1.73,0.19,58.48,73.0708
993,NaN,Morning,Weekday,3.0,Medium,Clear,2.65,1.35,NaN,25.61,55.3348

In [39]:
rows_to_remove = [366, 424, 770, 813, 993]
df = df.drop(rows_to_remove)

## Fill in missing Trip_Distance_km values by calculating them from other relevant trip details and rates

Trip_Price = Base_Fare
             + (Trip_Distance_km * Per_Km_Rate)
             + (Trip_Duration_Minutes * Per_Minute_Rate)

In [40]:
missing_count = df['Trip_Distance_km'].isna().sum()
print(f"Number of missing Trip_Distance_km values: {missing_count}")

df['Trip_Distance_km'] = df.apply(
    lambda row: (row['Trip_Price'] - row['Base_Fare'] - row['Per_Minute_Rate']*row['Trip_Duration_Minutes']) / row['Per_Km_Rate']
    if pd.isna(row['Trip_Distance_km']) else row['Trip_Distance_km'],
    axis=1
)

print(f"Number of missing Trip_Distance_km values after calculation: {df['Trip_Distance_km'].isna().sum()}")

Number of missing Trip_Distance_km values: 45
Number of missing Trip_Distance_km values after calculation: 1

In [21]:
df[df['Trip_Distance_km'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
734,NaN,Morning,Weekend,Low,Clear,3.14,NaN,0.14,89.47,34.4316

In [41]:
df = df.drop(734)

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 994 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       994 non-null    float64
 1   Time_of_Day            944 non-null    object
 2   Day_of_Week            944 non-null    object
 3   Traffic_Conditions     944 non-null    object
 4   Weather                944 non-null    object
 5   Base_Fare              945 non-null    float64
 6   Per_Km_Rate            945 non-null    float64
 7   Per_Minute_Rate        945 non-null    float64
 8   Trip_Duration_Minutes  947 non-null    float64
 9   Trip_Price             945 non-null    float64
dtypes: float64(6), object(4)
memory usage: 85.4+ KB

## Drop rows where `Base_Fare` and other key values are missing

In [45]:
df[df['Base_Fare'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
1,47.59,Afternoon,Weekday,High,Clear,NaN,0.62,0.43,40.57,NaN
25,39.47,Afternoon,Weekday,Low,Clear,NaN,NaN,0.35,7.59,83.6965
43,45.56,Afternoon,Weekday,Low,Clear,NaN,0.90,0.50,80.80,85.8840
50,48.51,Evening,Weekday,High,Rain,NaN,1.00,0.48,110.18,104.1764
92,38.28,Afternoon,Weekday,Medium,Clear,NaN,1.08,0.39,51.33,63.5611
107,38.02,Evening,NaN,NaN,Clear,NaN,1.31,0.35,33.73,66.2817
109,4.77,Morning,Weekend,High,Clear,NaN,0.96,0.18,105.91,NaN
116,40.38,Morning,Weekday,Medium,Rain,NaN,0.80,0.23,115.21,63.4323
156,33.93,Morning,Weekday,Low,Rain,NaN,0.88,0.39,66.77,59.9287
158,12.64,Evening,Weekday,Medium,Clear,NaN,0.70,0.29,22.91,20.3819
173,12.10,Morning,Weekend,Low,Clear,NaN,0.59,0.31,NaN,19.2643
174,32.61,Afternoon,NaN,Medium,Clear,NaN,0.70,0.31,11.91,31.3891
179,7.74,Afternoon,Weekday,Low,Clear,NaN,1.29,0.12,21.54,15.0994
190,5.56,Morning,Weekday,High,Clear,NaN,1.69,0.13,54.22,19.1450
192,45.12,Afternoon,Weekday,Medium,Clear,NaN,1.52,0.20,35.34,79.7004
201,5.12,Morning,Weekday,Medium,Clear,NaN,1.62,0.40,NaN,51.4584
218,32.83,Afternoon,Weekend,Medium,Clear,NaN,0.85,0.27,106.59,58.9648
313,48.17,Evening,Weekend,Medium,Clear,NaN,1.69,0.27,44.82,96.3487
328,21.56,Afternoon,Weekday,High,Clear,NaN,1.51,0.32,50.02,NaN
343,22.26,Evening,Weekday,Medium,Clear,NaN,0.63,0.29,105.77,46.7471
363,27.74,Afternoon,Weekday,Low,Clear,NaN,0.62,0.35,75.80,46.9988
393,39.04,Afternoon,Weekday,Medium,Clear,NaN,1.08,0.28,61.79,62.0444
397,22.02,Morning,Weekday,High,Clear,NaN,0.51,0.30,71.54,NaN
430,8.01,Afternoon,Weekday,High,Clear,NaN,0.98,0.43,50.28,31.7102
492,14.59,Morning,Weekend,Medium,Clear,NaN,0.86,0.21,44.14,25.1968
503,40.88,Afternoon,Weekend,Low,Clear,NaN,1.65,0.47,55.15,97.2125
547,33.91,Afternoon,Weekday,Medium,Clear,NaN,0.53,0.11,NaN,29.2693
596,33.71,Morning,Weekday,Low,Rain,NaN,1.75,0.13,38.23,66.1224
598,10.42,Morning,Weekday,Low,Clear,NaN,0.85,0.28,112.71,43.0058
636,27.10,Afternoon,NaN,Medium,Clear,NaN,1.80,0.26,81.01,73.0726
642,11.36,Afternoon,Weekend,Low,Clear,NaN,1.66,0.36,115.59,62.8000
661,49.34,Afternoon,Weekend,Low,Clear,NaN,1.12,0.15,78.36,69.9148
671,44.94,Evening,NaN,High,Clear,NaN,1.83,0.42,103.37,129.5356
683,33.76,Evening,Weekday,Low,Rain,NaN,1.66,0.50,82.76,102.3316
689,10.17,Evening,Weekday,Medium,Clear,NaN,1.41,0.25,98.63,41.4372
718,7.09,Night,Weekend,NaN,Clear,NaN,1.91,0.22,102.35,39.1789
728,10.88,Evening,Weekday,Medium,Clear,NaN,1.92,0.34,NaN,41.9406
869,47.36,Evening,Weekday,NaN,Clear,NaN,1.85,0.15,71.86,102.8850
871,14.27,Morning,Weekend,Low,Clear,NaN,1.45,0.27,27.05,NaN
876,36.08,Afternoon,Weekday,Low,Clear,NaN,1.29,0.17,84.96,65.2064
878,2.33,Morning,Weekday,Low,Rain,NaN,1.38,0.33,105.78,43.0228
887,12.67,Morning,Weekday,Low,Snow,NaN,1.96,0.23,35.59,37.2489
901,2.30,Morning,Weekend,Medium,Snow,NaN,1.54,0.47,38.81,26.4327
907,17.75,Afternoon,Weekday,Low,Clear,NaN,1.96,0.20,66.50,51.0300
925,2.10,Morning,Weekend,Low,Clear,NaN,1.05,0.22,94.38,25.4386
928,32.04,Afternoon,Weekend,Low,Clear,NaN,1.50,0.22,54.73,62.9006
937,45.80,Evening,Weekday,Medium,Rain,NaN,0.84,0.11,31.43,NaN
947,45.10,Morning,Weekday,Medium,Clear,NaN,0.88,0.44,87.35,81.5720
953,45.81,Evening,Weekday,High,Clear,NaN,1.41,0.28,26.73,75.0365

In [46]:
df = df.drop([1, 25, 109, 173, 201, 328, 397, 547, 728, 871, 937])

## Fill in missing Base_Fare values

Base_Fare = Trip_Price
            - (Trip_Distance_km * Per_Km_Rate)
            - (Trip_Duration_Minutes * Per_Minute_Rate)

In [47]:
missing_count = df['Base_Fare'].isna().sum()
print(f"Number of missing Base_Fare values: {missing_count}")

df['Base_Fare'] = df.apply(
    lambda row: row['Trip_Price']
    - (row['Trip_Distance_km'] * row['Per_Km_Rate'])
    - (row['Trip_Duration_Minutes'] * row['Per_Minute_Rate'])
    if pd.isna(row['Base_Fare']) else row['Base_Fare'],
    axis=1
)

print(f"Number of missing Base_Fare values after calculation: {df['Base_Fare'].isna().sum()}")

Number of missing Base_Fare values: 38
Number of missing Base_Fare values after calculation: 0

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 983 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       983 non-null    float64
 1   Time_of_Day            933 non-null    object
 2   Day_of_Week            933 non-null    object
 3   Traffic_Conditions     933 non-null    object
 4   Weather                933 non-null    object
 5   Base_Fare              983 non-null    float64
 6   Per_Km_Rate            935 non-null    float64
 7   Per_Minute_Rate        934 non-null    float64
 8   Trip_Duration_Minutes  940 non-null    float64
 9   Trip_Price             940 non-null    float64
dtypes: float64(6), object(4)
memory usage: 116.8+ KB

## Drop rows where `Per_Km_Rate` and other key values are missing

In [53]:
df[df['Per_Km_Rate'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
11,48.530000,Night,Weekday,Low,Clear,4.78,NaN,0.50,79.94,NaN
13,11.400000,Morning,Weekday,NaN,Clear,4.12,NaN,0.15,84.12,36.118000
38,34.530000,Morning,Weekday,Medium,Clear,3.58,NaN,0.26,59.14,60.047100
44,13.680000,Evening,Weekend,High,Clear,3.88,NaN,0.17,50.78,29.475800
46,16.270000,Morning,Weekday,Low,Clear,2.34,NaN,0.41,97.35,64.055300
56,5.340000,NaN,Weekday,Low,Clear,2.34,NaN,0.18,12.72,10.236600
57,10.600000,Afternoon,Weekday,Medium,Clear,4.21,NaN,0.30,73.28,32.342000
78,18.560000,Morning,Weekend,Medium,Snow,4.74,NaN,0.47,44.62,45.385000
147,25.630000,Afternoon,Weekday,Medium,Clear,4.21,NaN,0.18,15.48,54.155600
222,5.590000,Afternoon,Weekday,High,Clear,4.39,NaN,0.10,30.31,17.147600
252,42.710000,Morning,Weekday,Low,Clear,2.32,NaN,0.15,33.91,48.408100
263,26.400000,Afternoon,Weekday,Low,Clear,2.52,NaN,0.39,108.34,NaN
266,35.150000,Afternoon,Weekday,Medium,Rain,2.76,NaN,0.21,96.08,91.830800
287,100.380420,Afternoon,Weekday,Medium,Rain,4.46,NaN,NaN,89.21,329.913004
349,31.670000,Morning,Weekday,Low,Clear,3.52,NaN,0.11,10.16,23.956300
368,10.590000,Morning,Weekday,Medium,Clear,4.44,NaN,0.24,79.64,38.061900
419,37.870000,Night,Weekday,High,Clear,3.76,NaN,0.26,70.65,64.543400
426,22.630000,Morning,Weekday,Medium,Clear,4.33,NaN,0.44,73.27,NaN
461,32.810000,Afternoon,Weekend,Low,Clear,4.84,NaN,0.23,64.74,55.821200
477,28.140000,Evening,Weekend,Medium,Clear,2.45,NaN,0.40,87.85,86.553600
485,45.160000,Afternoon,Weekend,High,Clear,2.04,NaN,0.41,85.10,79.833000
507,41.300000,Afternoon,Weekday,Medium,Rain,2.22,NaN,0.20,71.50,37.170000
512,46.700000,Night,Weekday,Medium,Clear,4.94,NaN,0.35,14.65,53.031500
514,3.220000,Morning,Weekday,NaN,Clear,3.36,NaN,0.37,34.15,20.052700
536,42.630000,Morning,Weekend,High,Clear,4.14,NaN,0.21,17.36,46.152600
555,20.770000,Morning,Weekend,Low,Clear,3.48,NaN,0.26,NaN,47.326800
624,31.290000,Morning,Weekday,Medium,Rain,4.41,NaN,0.21,50.19,NaN
628,2.800000,Morning,Weekday,Low,Clear,2.45,NaN,0.45,86.63,44.205500
631,44.870000,Afternoon,NaN,Low,Clear,4.27,NaN,0.34,90.81,NaN
665,8.490000,Evening,Weekday,Low,Snow,3.47,NaN,0.25,99.35,33.231700
676,6.490000,Morning,Weekday,Medium,NaN,3.68,NaN,0.19,31.66,NaN
698,8.560000,Night,Weekend,Medium,Clear,2.63,NaN,0.33,83.03,46.293900
726,7.850000,Afternoon,NaN,Low,Clear,2.36,NaN,0.24,51.30,28.723500
733,26.630000,Afternoon,Weekend,High,Clear,2.52,NaN,0.34,57.22,57.126400
768,17.760000,Afternoon,Weekday,NaN,Rain,2.91,NaN,0.34,21.79,32.163400
773,20.470000,Night,Weekday,Medium,Rain,3.65,NaN,0.34,48.83,31.306000
789,47.420000,Afternoon,Weekend,High,Rain,3.36,NaN,0.30,30.47,95.960200
791,29.730000,Evening,Weekend,Low,Clear,3.17,NaN,0.38,68.12,47.488200
797,108.146994,Morning,Weekday,Low,Clear,2.25,NaN,0.36,97.16,239.171407
852,11.290000,Evening,Weekday,Medium,Clear,2.11,NaN,0.44,105.79,62.657200
858,28.680000,Evening,Weekday,Medium,Rain,4.84,NaN,0.12,103.25,40.174000
867,9.910000,Morning,Weekend,Medium,Clear,2.49,NaN,0.42,97.64,57.075500
911,14.140000,Evening,Weekday,Low,Clear,3.06,NaN,0.49,82.16,59.862200
917,47.470000,Afternoon,Weekend,Low,NaN,4.75,NaN,0.33,35.41,52.987200
946,7.710000,Afternoon,Weekday,Low,Clear,4.91,NaN,0.33,116.62,53.726000
966,36.230000,Morning,Weekend,NaN,Rain,3.61,NaN,0.27,NaN,97.109400
977,3.520000,Afternoon,Weekday,Low,Clear,2.35,NaN,0.36,106.23,42.423200
999,22.850000,Morning,Weekend,Medium,Clear,4.34,NaN,0.23,29.69,45.443700

In [54]:
df = df.drop([11, 263, 426, 555, 624, 631, 676, 966])

## Fill in missing Per_Km_Rate values

Per_Km_Rate = (Trip_Price - Base_Fare - (Trip_Duration_Minutes * Per_Minute_Rate)) / Trip_Distance_km

In [55]:
missing_count = df['Per_Km_Rate'].isna().sum()
print(f"Number of missing Per_Km_Rate values: {missing_count}")

df['Per_Km_Rate'] = df.apply(
    lambda row: (row['Trip_Price'] - row['Base_Fare'] - row['Trip_Duration_Minutes'] * row['Per_Minute_Rate']) / row['Trip_Distance_km']
    if pd.isna(row['Per_Km_Rate']) else row['Per_Km_Rate'],
    axis=1
)

print(f"Number of missing Per_Km_Rate values after calculation: {df['Per_Km_Rate'].isna().sum()}")

Number of missing Per_Km_Rate values: 40
Number of missing Per_Km_Rate values after calculation: 1

In [58]:
df[df['Per_Km_Rate'].isna()]

Empty DataFrame
Columns: [Trip_Distance_km, Time_of_Day, Day_of_Week, Traffic_Conditions, Weather, Base_Fare, Per_Km_Rate, Per_Minute_Rate, Trip_Duration_Minutes, Trip_Price]
Index: []

In [57]:
df = df.drop([287])

In [60]:
df.loc[56]

Trip_Distance_km            5.34
Time_of_Day                  NaN
Day_of_Week              Weekday
Traffic_Conditions           Low
Weather                    Clear
Base_Fare                   2.34
Per_Km_Rate                 1.05
Per_Minute_Rate             0.18
Trip_Duration_Minutes      12.72
Trip_Price               10.2366
Name: 56, dtype: object

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 974 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       974 non-null    float64
 1   Time_of_Day            924 non-null    object
 2   Day_of_Week            925 non-null    object
 3   Traffic_Conditions     925 non-null    object
 4   Weather                925 non-null    object
 5   Base_Fare              974 non-null    float64
 6   Per_Km_Rate            974 non-null    float64
 7   Per_Minute_Rate        926 non-null    float64
 8   Trip_Duration_Minutes  933 non-null    float64
 9   Trip_Price             937 non-null    float64
dtypes: float64(6), object(4)
memory usage: 116.0+ KB

## Drop rows where `Per_Minute_Rate` and other key values are missing

In [62]:
df[df['Per_Minute_Rate'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
6,3.850000,Afternoon,Weekday,High,Rain,3.51,1.66,NaN,5.05,11.264500
39,22.570000,Afternoon,Weekday,Low,Clear,3.40,1.41,NaN,105.98,62.778500
89,24.140000,Morning,Weekday,Low,NaN,3.92,1.69,NaN,82.14,55.394800
125,21.930000,Afternoon,NaN,Low,NaN,4.53,0.76,NaN,74.52,48.024000
127,43.180000,Afternoon,Weekday,High,Clear,3.03,1.54,NaN,104.17,98.694800
149,14.650000,Evening,Weekend,High,Clear,3.74,1.79,NaN,29.58,40.020700
189,12.850000,Evening,Weekday,Low,Snow,3.94,0.61,NaN,26.63,23.495700
205,1.450000,Evening,Weekend,High,Clear,2.80,1.73,NaN,63.01,12.239600
235,36.400000,Afternoon,Weekday,Medium,Clear,4.05,1.34,NaN,117.94,94.105000
292,41.310000,Afternoon,Weekday,Medium,Clear,4.90,1.10,NaN,21.18,56.059600
321,36.020000,Morning,Weekend,Low,Clear,3.34,1.28,NaN,119.17,79.238100
372,5.630000,Evening,Weekday,Low,Clear,3.88,1.43,NaN,82.22,51.396500
409,5.470000,NaN,Weekday,Low,Clear,2.49,1.22,NaN,118.44,44.695400
414,31.960000,Afternoon,Weekday,High,Clear,3.55,0.94,NaN,14.64,35.056400
443,19.160000,Afternoon,Weekend,Low,Clear,4.64,0.57,NaN,111.87,34.579100
444,40.830000,Evening,Weekday,Low,Rain,4.90,1.35,NaN,39.90,69.995500
450,39.080000,Afternoon,Weekday,Low,Clear,2.44,1.63,NaN,36.57,83.694000
490,23.330000,Morning,Weekday,Low,Snow,2.04,1.92,NaN,34.00,59.073600
504,34.550000,Afternoon,Weekday,Low,Rain,2.47,1.03,NaN,NaN,63.615000
519,8.370000,Night,Weekend,Low,Rain,2.27,1.62,NaN,80.78,52.988200
522,48.530000,Afternoon,Weekday,Medium,Snow,4.57,1.94,NaN,60.77,124.241600
549,38.840000,Afternoon,Weekday,Low,Clear,4.81,1.23,NaN,64.42,62.890400
566,20.220000,Afternoon,Weekday,Low,Clear,3.46,0.55,NaN,34.14,24.481600
583,17.110000,Afternoon,Weekday,Medium,NaN,2.77,1.23,NaN,91.82,36.670100
585,12.770000,Morning,Weekday,Low,Clear,3.37,0.53,NaN,20.90,17.662100
617,14.570000,Afternoon,Weekday,Medium,Clear,4.97,0.60,NaN,118.39,37.390000
618,40.500000,Afternoon,Weekend,Low,Rain,2.80,1.54,NaN,112.84,84.352800
621,11.260000,Morning,Weekend,Medium,Rain,2.34,0.68,NaN,58.80,30.576800
627,37.630000,Afternoon,Weekday,High,Clear,2.90,0.92,NaN,74.12,72.356000
706,16.800000,Afternoon,Weekday,Medium,Rain,2.78,0.88,NaN,62.63,26.958500
745,45.080000,Afternoon,Weekend,High,Clear,3.82,0.57,NaN,110.21,70.293300
747,101.039704,NaN,Weekday,Low,Rain,4.39,1.79,NaN,56.78,283.645201
753,17.410000,Morning,Weekday,Medium,Clear,2.05,1.86,NaN,39.98,NaN
778,36.280000,NaN,Weekday,Low,Rain,4.53,1.64,NaN,7.73,66.039000
783,17.940000,Afternoon,NaN,Low,Rain,4.14,1.43,NaN,15.13,33.274100
808,23.090000,Morning,Weekday,High,Rain,3.58,1.68,NaN,23.94,48.835000
829,23.160000,Morning,Weekday,High,Clear,2.16,1.36,NaN,98.11,62.109500
833,9.640000,Evening,NaN,Medium,Clear,3.53,1.28,NaN,87.39,39.464500
855,10.340000,Morning,Weekday,Medium,Clear,4.91,1.64,NaN,95.63,43.862500
883,6.100000,Evening,Weekday,Medium,Clear,2.74,1.34,NaN,48.23,32.135200
904,21.650000,Evening,Weekday,High,Clear,2.18,1.05,NaN,24.22,31.694100
909,19.600000,Morning,Weekday,Medium,Clear,4.82,1.40,NaN,63.47,48.127500
935,14.340000,Evening,Weekday,Low,Rain,3.69,1.85,NaN,NaN,38.035000
962,13.020000,Evening,Weekday,High,Clear,4.85,1.87,NaN,89.60,48.013400
967,15.560000,Afternoon,Weekday,NaN,Rain,2.21,1.48,NaN,109.57,59.205500
985,25.280000,Morning,Weekend,Medium,Snow,3.47,1.52,NaN,76.73,73.354900
996,45.950000,Night,Weekday,Medium,Clear,3.12,0.61,NaN,61.96,62.129500
997,7.700000,Morning,Weekday,Low,Rain,2.08,1.78,NaN,54.18,33.123600

In [63]:
df = df.drop([504, 753, 935])