## Read csv file

In [2]:
import pandas as pd
df = pd.read_csv('../data/taxi_trip_pricing.csv')
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,3.0,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,1.0,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180

## EDA

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       950 non-null    float64
 1   Time_of_Day            950 non-null    object
 2   Day_of_Week            950 non-null    object
 3   Passenger_Count        950 non-null    float64
 4   Traffic_Conditions     950 non-null    object
 5   Weather                950 non-null    object
 6   Base_Fare              950 non-null    float64
 7   Per_Km_Rate            950 non-null    float64
 8   Per_Minute_Rate        950 non-null    float64
 9   Trip_Duration_Minutes  950 non-null    float64
 10  Trip_Price             951 non-null    float64
dtypes: float64(7), object(4)
memory usage: 86.1+ KB

In [4]:
df.isna().sum()

Trip_Distance_km         50
Time_of_Day              50
Day_of_Week              50
Passenger_Count          50
Traffic_Conditions       50
Weather                  50
Base_Fare                50
Per_Km_Rate              50
Per_Minute_Rate          50
Trip_Duration_Minutes    50
Trip_Price               49
dtype: int64

In [5]:
df[df.isna().any(axis=1)]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Passenger_Count,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
1,47.59,Afternoon,Weekday,1.0,High,Clear,NaN,0.62,0.43,40.57,NaN
3,30.33,Evening,Weekday,4.0,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,3.0,High,Clear,2.93,0.63,0.32,22.64,15.6180
6,3.85,Afternoon,Weekday,4.0,High,Rain,3.51,1.66,NaN,5.05,11.2645
7,43.44,Evening,Weekend,3.0,NaN,Clear,2.97,1.87,0.23,NaN,101.1216
...,...,...,...,...,...,...,...,...,...,...,...
991,35.04,Morning,Weekend,4.0,Medium,Rain,2.90,1.10,0.15,9.99,NaN
993,NaN,Morning,Weekday,3.0,Medium,Clear,2.65,1.35,NaN,25.61,55.3348
996,45.95,Night,Weekday,4.0,Medium,Clear,3.12,0.61,NaN,61.96,62.1295
997,7.70,Morning,Weekday,3.0,Low,Rain,2.08,1.78,NaN,54.18,33.1236
999,22.85,Morning,Weekend,3.0,Medium,Clear,4.34,NaN,0.23,29.69,45.4437

## Drop the `Passenger_Count` column because it does not significantly affect the target

In [6]:
df = df.drop('Passenger_Count', axis=1)
df.head()

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
0,19.35,Morning,Weekday,Low,Clear,3.56,0.80,0.32,53.82,36.2624
1,47.59,Afternoon,Weekday,High,Clear,NaN,0.62,0.43,40.57,NaN
2,36.87,Evening,Weekend,High,Clear,2.70,1.21,0.15,37.27,52.9032
3,30.33,Evening,Weekday,Low,NaN,3.48,0.51,0.15,116.81,36.4698
4,NaN,Evening,Weekday,High,Clear,2.93,0.63,0.32,22.64,15.6180

## Drop rows where `Trip_Distance_km` and other key values are missing
These rows cannot be used for machine learning because `Trip_Distance_km` or other essential features are missing, so the trip price cannot be calculated accurately.

In [7]:
df[df['Trip_Distance_km'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
4,NaN,Evening,Weekday,High,Clear,2.93,0.63,0.32,22.64,15.6180
10,NaN,Morning,Weekday,NaN,Clear,2.40,0.58,0.43,26.34,14.8920
84,NaN,Night,Weekday,Medium,Clear,3.38,1.50,0.31,58.31,45.8161
87,NaN,NaN,Weekday,Medium,Clear,3.41,0.57,0.39,92.72,57.9476
95,NaN,Morning,Weekend,Medium,Clear,3.43,0.91,0.50,67.43,60.0770
111,NaN,Morning,Weekday,Low,Clear,4.01,1.65,0.17,109.77,37.3559
134,NaN,Afternoon,Weekend,Low,Clear,2.55,1.46,0.37,38.26,85.6182
137,NaN,NaN,NaN,Low,Clear,4.52,1.38,0.35,57.56,73.5870
142,NaN,Afternoon,Weekend,Medium,Rain,2.98,1.24,0.28,36.68,44.7092
166,NaN,Evening,Weekday,High,Clear,4.11,1.00,0.36,86.31,51.9016
191,NaN,Afternoon,Weekend,Medium,Clear,2.47,0.83,0.45,80.70,76.1018
196,NaN,Night,Weekday,High,Clear,3.34,1.49,0.27,115.73,89.0764
197,NaN,Night,Weekend,Medium,Clear,3.22,1.03,0.38,72.79,77.1890
234,NaN,Afternoon,Weekday,Low,Clear,4.03,0.74,0.14,49.37,18.7636
269,NaN,Morning,Weekday,Low,NaN,4.74,0.99,0.39,24.57,29.5584
282,NaN,Afternoon,Weekday,Low,Clear,3.79,1.25,0.45,40.52,46.2740
327,NaN,Evening,Weekday,Medium,Clear,2.21,0.82,0.23,42.84,37.4586
344,NaN,Evening,NaN,Low,Clear,4.62,1.86,0.43,7.19,45.8975
357,NaN,Afternoon,Weekday,Medium,Rain,2.03,0.91,0.19,12.42,31.4168
366,NaN,Evening,Weekday,Medium,Clear,4.20,1.09,0.18,NaN,66.1816
401,NaN,Morning,NaN,Low,Clear,3.63,0.80,0.19,109.95,60.7045
404,NaN,Afternoon,Weekday,High,Rain,2.30,0.89,0.12,74.77,26.1176
417,NaN,Morning,Weekday,Low,Clear,4.00,1.87,0.15,100.36,51.0310
424,NaN,Night,Weekday,High,Clear,NaN,1.42,0.48,23.11,19.2572
428,NaN,Afternoon,Weekday,Medium,Rain,3.84,1.55,0.41,19.20,39.9065
438,NaN,Morning,Weekday,Low,Rain,2.72,1.25,0.24,49.77,59.1773
439,NaN,Afternoon,Weekday,Medium,NaN,2.84,0.97,0.29,41.04,19.5819
446,NaN,Afternoon,Weekday,Medium,Clear,3.02,0.70,0.35,94.88,70.7450
470,NaN,Afternoon,Weekday,High,Clear,4.37,0.80,0.49,18.39,14.6611
476,NaN,Evening,Weekday,Low,Clear,2.15,1.62,0.47,42.81,29.7551
584,NaN,Night,Weekday,Low,Clear,2.73,1.47,0.37,42.88,65.6944
641,NaN,Evening,Weekday,Low,Clear,3.08,0.70,0.38,27.81,25.3938
647,NaN,Evening,Weekday,Medium,Rain,3.46,0.83,0.47,51.82,56.2678
725,NaN,Morning,Weekday,Medium,Clear,3.88,1.96,0.32,111.65,122.4180
734,NaN,Morning,Weekend,Low,Clear,3.14,NaN,0.14,89.47,34.4316
770,NaN,Afternoon,Weekday,Medium,Clear,3.05,0.98,0.24,NaN,19.0904
774,NaN,Evening,Weekday,Medium,Clear,3.77,1.15,0.31,87.74,77.0499
796,NaN,Evening,Weekday,NaN,Clear,3.05,0.74,0.35,105.71,74.5843
813,NaN,Morning,Weekday,High,Snow,2.81,1.04,0.34,NaN,66.8568
822,NaN,Afternoon,Weekday,Medium,Clear,3.64,1.22,0.18,75.87,38.4514
830,NaN,Night,Weekday,Low,Clear,2.11,0.82,0.40,85.00,45.9582
839,NaN,Morning,Weekday,Low,Clear,2.86,1.30,0.41,58.01,68.2181
845,NaN,Morning,Weekday,Low,Clear,2.22,0.90,0.40,119.82,69.3360
846,NaN,Morning,Weekend,Medium,Clear,2.82,1.18,0.42,91.53,47.3750
872,NaN,Afternoon,NaN,Low,Clear,4.81,0.65,0.26,10.76,28.7716
939,NaN,Morning,Weekday,Low,Rain,3.59,0.69,0.27,87.25,47.3300
943,NaN,Evening,Weekend,Low,Snow,2.10,1.47,0.27,48.69,76.4865
961,NaN,Afternoon,Weekday,Medium,Clear,4.06,1.05,0.46,7.26,39.4771
970,NaN,Morning,Weekday,High,Clear,3.97,1.73,0.19,58.48,73.0708
993,NaN,Morning,Weekday,Medium,Clear,2.65,1.35,NaN,25.61,55.3348

In [8]:
rows_to_remove = [366, 424, 770, 813, 993]
df = df.drop(rows_to_remove)

## Fill in missing Trip_Distance_km values by calculating them from other relevant trip details and rates

In [9]:
missing_count = df['Trip_Distance_km'].isna().sum()
print(f"Number of missing Trip_Distance_km values: {missing_count}")

df['Trip_Distance_km'] = df.apply(
    lambda row: (row['Trip_Price'] - row['Base_Fare'] - row['Per_Minute_Rate']*row['Trip_Duration_Minutes']) / row['Per_Km_Rate']
    if pd.isna(row['Trip_Distance_km']) else row['Trip_Distance_km'],
    axis=1
)

print(f"Number of missing Trip_Distance_km values after calculation: {df['Trip_Distance_km'].isna().sum()}")

Number of missing Trip_Distance_km values: 45
Number of missing Trip_Distance_km values after calculation: 1

In [10]:
df[df['Trip_Distance_km'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
734,NaN,Morning,Weekend,Low,Clear,3.14,NaN,0.14,89.47,34.4316

In [11]:
df = df.drop(734)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 994 entries, 0 to 999
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Trip_Distance_km       994 non-null    float64
 1   Time_of_Day            944 non-null    object
 2   Day_of_Week            944 non-null    object
 3   Traffic_Conditions     944 non-null    object
 4   Weather                944 non-null    object
 5   Base_Fare              945 non-null    float64
 6   Per_Km_Rate            945 non-null    float64
 7   Per_Minute_Rate        945 non-null    float64
 8   Trip_Duration_Minutes  947 non-null    float64
 9   Trip_Price             945 non-null    float64
dtypes: float64(6), object(4)
memory usage: 85.4+ KB

## Drop rows where `Base_Fare` and other key values are missing

In [13]:
df[df['Base_Fare'].isna()]

,Trip_Distance_km,Time_of_Day,Day_of_Week,Traffic_Conditions,Weather,Base_Fare,Per_Km_Rate,Per_Minute_Rate,Trip_Duration_Minutes,Trip_Price
1,47.59,Afternoon,Weekday,High,Clear,NaN,0.62,0.43,40.57,NaN
25,39.47,Afternoon,Weekday,Low,Clear,NaN,NaN,0.35,7.59,83.6965
43,45.56,Afternoon,Weekday,Low,Clear,NaN,0.90,0.50,80.80,85.8840
50,48.51,Evening,Weekday,High,Rain,NaN,1.00,0.48,110.18,104.1764
92,38.28,Afternoon,Weekday,Medium,Clear,NaN,1.08,0.39,51.33,63.5611
107,38.02,Evening,NaN,NaN,Clear,NaN,1.31,0.35,33.73,66.2817
109,4.77,Morning,Weekend,High,Clear,NaN,0.96,0.18,105.91,NaN
116,40.38,Morning,Weekday,Medium,Rain,NaN,0.80,0.23,115.21,63.4323
156,33.93,Morning,Weekday,Low,Rain,NaN,0.88,0.39,66.77,59.9287
158,12.64,Evening,Weekday,Medium,Clear,NaN,0.70,0.29,22.91,20.3819
173,12.10,Morning,Weekend,Low,Clear,NaN,0.59,0.31,NaN,19.2643
174,32.61,Afternoon,NaN,Medium,Clear,NaN,0.70,0.31,11.91,31.3891
179,7.74,Afternoon,Weekday,Low,Clear,NaN,1.29,0.12,21.54,15.0994
190,5.56,Morning,Weekday,High,Clear,NaN,1.69,0.13,54.22,19.1450
192,45.12,Afternoon,Weekday,Medium,Clear,NaN,1.52,0.20,35.34,79.7004
201,5.12,Morning,Weekday,Medium,Clear,NaN,1.62,0.40,NaN,51.4584
218,32.83,Afternoon,Weekend,Medium,Clear,NaN,0.85,0.27,106.59,58.9648
313,48.17,Evening,Weekend,Medium,Clear,NaN,1.69,0.27,44.82,96.3487
328,21.56,Afternoon,Weekday,High,Clear,NaN,1.51,0.32,50.02,NaN
343,22.26,Evening,Weekday,Medium,Clear,NaN,0.63,0.29,105.77,46.7471
363,27.74,Afternoon,Weekday,Low,Clear,NaN,0.62,0.35,75.80,46.9988
393,39.04,Afternoon,Weekday,Medium,Clear,NaN,1.08,0.28,61.79,62.0444
397,22.02,Morning,Weekday,High,Clear,NaN,0.51,0.30,71.54,NaN
430,8.01,Afternoon,Weekday,High,Clear,NaN,0.98,0.43,50.28,31.7102
492,14.59,Morning,Weekend,Medium,Clear,NaN,0.86,0.21,44.14,25.1968
503,40.88,Afternoon,Weekend,Low,Clear,NaN,1.65,0.47,55.15,97.2125
547,33.91,Afternoon,Weekday,Medium,Clear,NaN,0.53,0.11,NaN,29.2693
596,33.71,Morning,Weekday,Low,Rain,NaN,1.75,0.13,38.23,66.1224
598,10.42,Morning,Weekday,Low,Clear,NaN,0.85,0.28,112.71,43.0058
636,27.10,Afternoon,NaN,Medium,Clear,NaN,1.80,0.26,81.01,73.0726
642,11.36,Afternoon,Weekend,Low,Clear,NaN,1.66,0.36,115.59,62.8000
661,49.34,Afternoon,Weekend,Low,Clear,NaN,1.12,0.15,78.36,69.9148
671,44.94,Evening,NaN,High,Clear,NaN,1.83,0.42,103.37,129.5356
683,33.76,Evening,Weekday,Low,Rain,NaN,1.66,0.50,82.76,102.3316
689,10.17,Evening,Weekday,Medium,Clear,NaN,1.41,0.25,98.63,41.4372
718,7.09,Night,Weekend,NaN,Clear,NaN,1.91,0.22,102.35,39.1789
728,10.88,Evening,Weekday,Medium,Clear,NaN,1.92,0.34,NaN,41.9406
869,47.36,Evening,Weekday,NaN,Clear,NaN,1.85,0.15,71.86,102.8850
871,14.27,Morning,Weekend,Low,Clear,NaN,1.45,0.27,27.05,NaN
876,36.08,Afternoon,Weekday,Low,Clear,NaN,1.29,0.17,84.96,65.2064
878,2.33,Morning,Weekday,Low,Rain,NaN,1.38,0.33,105.78,43.0228
887,12.67,Morning,Weekday,Low,Snow,NaN,1.96,0.23,35.59,37.2489
901,2.30,Morning,Weekend,Medium,Snow,NaN,1.54,0.47,38.81,26.4327
907,17.75,Afternoon,Weekday,Low,Clear,NaN,1.96,0.20,66.50,51.0300
925,2.10,Morning,Weekend,Low,Clear,NaN,1.05,0.22,94.38,25.4386
928,32.04,Afternoon,Weekend,Low,Clear,NaN,1.50,0.22,54.73,62.9006
937,45.80,Evening,Weekday,Medium,Rain,NaN,0.84,0.11,31.43,NaN
947,45.10,Morning,Weekday,Medium,Clear,NaN,0.88,0.44,87.35,81.5720
953,45.81,Evening,Weekday,High,Clear,NaN,1.41,0.28,26.73,75.0365

In [14]:
df = df.drop([1, 25, 109, 173, 201, 328, 397, 547, 728, 871, 937])